<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Spring Guestbook</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
</head>
<body>
<div class="container">
    <div class="row">
        <div class="column">
            <img th:src="@{/images/logo.png}" />
        </div>
        <div class="column">
            <h1>Comments Table:</h1>
        </div>
    </div>
    <div th:if="${!entries.isEmpty()}">
        <table>
            <tr>
                <th>User</th><th>Comment</th><th></th><th></th>
            </tr>
            <tr th:each="entry: ${entries}">
                <td th:text="${entry.user}"></td>
                <td th:text="${entry.comment}"></td>
                <td><a th:href="@{'/delete/' + ${entry.id}}">Delete</a></td>
                <td><a th:href="@{'/update/' + ${entry.id}}">Update</a></td>
            </tr>
        </table>
    </div>
    <div th:if="${entries.isEmpty()}">
        <p>There are no comments in the Guestbook</p>
    </div>
    <h2 th:text="${formHeader}"></h2>
    <form th:object="${newEntry}" method="post">
        <label>User: </label>
        <input type="text" size="32" th:field="*{user}" />
        <label>Comment: </label>
        <input type="text" size="64" th:field="*{comment}" />
        <input type="submit" value="Submit" />
        <p class="warning" th:if="${#fields.hasErrors('user')}">User cannot be empty.</p>
        <p class="warning" th:if="${#fields.hasErrors('comment')}">Comment cannot be empty.</p>
        <input type="reset" value="Reset" />
    </form>
</div>


</body>
</html>